/* .List{
} */

.List__items{
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin: 1rem;
    padding: 1rem;
    max-height: 18rem;
    display: flex;
}

.List__image-block{
    min-width: 30%;
}

.List__image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.List__detail-block{
    min-width: 65%;
    padding: 0 1rem;
    position: relative;
}

.product__rating{
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: inline-block;
    color: rgb(139, 139, 139);
    font-size: 1.5rem;
}

.product__name{
    font-size: 1.4rem;
    font-weight: 400;
}

.product__weigh{
    color: rgb(146, 146, 146);
    font-size: 1rem;
}

.product__mrp{
    font-size: 1.4rem;
    margin: 0.5rem 0 0 0;
}

.product__mrp span{
    text-decoration: line-through;
    font-size: 1.2rem;
    color: rgb(146, 146, 146);
    display: inline-block;
    margin: 0 1rem;
}

.button{
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(78, 208, 99);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0 1px 3px rgba(0, 0, 0, 0.295);
    border: none;
    border-radius: .1rem;
    margin: 1rem 0 0 0;
    transition: all .1s ease-in ;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.315);
}

.button:focus{
    outline: none;
}

.button:hover{
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.308);
}

.button:active{
    transform: translateY(2px) scale(.98);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.315);
}

.bottom_wrapper{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.dropdown{
    display: inline-block;
    min-width: 70%;
}

.drop_show{
    display: inline-block;
}

.drop_show span{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1rem 1rem;
}


/* Dropdown */

.dropdown_label {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    color: rgb(146, 145, 145);
    display: inline-block;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: -36rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  

  .link{
      text-decoration: none;
      color: rgb(107, 107, 107);
  }

  .dd_select{
      color: black;
        font-weight: 500;
  }
    

.view_wrapper{
    display: inline-block;
    min-width: 30%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.082);
}

.view{
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
}

.view:focus{
    outline: none;
}